.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero .content {
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 0 1rem;
    text-align: center;
}

.hero .content h3 {
    text-align: center;
    font-size: 4.5rem;
    color: var(--blanco);
    text-transform: uppercase;
    text-shadow: 0.3rem .5rem rgba(0, 0, 0, .1);
    margin-bottom: revert;
    
}

.hero .content p {
    font-size: 1.5rem;
    color: var(--blanco);
    padding: .5rem 0;
    margin-bottom: 2rem;
}

.hero .content .btn {
    width: 20%;
    display: block;
    background: var(--amarillo);
    color: var(--blanco);
    padding: .7rem 2rem;
    border: .2rem solid var(--amarillo);
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    transition: all 0.5s ease;
    
}

.hero .video-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .content .btn:hover {
        background-color: transparent;
        color: var(--amarillo);
    }

/*Responsive*/
@media (max-width: 900px){
    .hero .content h3 {
        font-size: 3.5rem;
        margin: 0;
    }

    .hero .content p {
        width: 70%;
        margin: 0 auto;
        font-size: 2rem;
    }

    .hero .content .btn {
        width: 50%;
        font-size: 1.5rem;
        margin-top: 15px;
    }
}

@media (max-width: 400px) {
    .hero .content h3 {
        font-size: 1.5rem;
    }

    .hero .content p {
        font-size: .9rem;
    }

    .hero .content .btn {
        padding: 0.5rem 1rem;
        font-size: 0.85rem;
        
    }
}