.navbar {
  width: 100%;
  height: 10vh;  
  background-color: var(--second-modal-color);
  position: relative;
  z-index: 1001;
  font-family: var(--main-font);
  font-size: var(--font-size);
}

.container_header {
  width: 80%;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;  
}

.logo {
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
}

.logo span {
  color: var(--main-modal-color);
}

.navbar_links a {
  margin-left: 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.navbar_links a:hover {
  color: var(--min-color);
}

.icons a {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #fff;
}

.icons a:hover {
    color: var(--min-color);
}

.search {
  width: 80%;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  background-color: var(--second-color);
  padding: 1.5rem;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: inherit;
  align-items: center;
  z-index: 999;
  transition: all 0.3s ease;
  color: var(--min-color);
}

.search input {
  padding: 0.4rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
  height: 3rem;
  margin: 0 auto;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.btn_menu {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;

}

.midium {
  display: none;
  font-size: 1.6rem;
  text-decoration: none;
  color: #ccc
}

@media (max-width: 768px) {
  .navbar_links {
    display: none;
  }

  .btn_menu {
    display: block;
  }

  .logo {
    display: none;
  }

  .midium {
    display: block;
  }
}
