@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

/*Caracteristicas de la fuente*/  
--fuente-letra: 'Nunito', sans-serif;

/*Colores de la app*/ 
--amarillo: #ffa500;
--negro: #333;
--amarillo-secundario: rgba(247, 222, 30, 0.85);
--negro-secundario: rgba(34, 34, 34, 0.85);
--blanco: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--fuente-letra);
  font-size: 16px;
}


